@import'./Sections/operaciones';
@import'./Sections/variables';
@import'./Sections/reset';
@import'./Sections/medias';
@import'./Sections/footer';
@import'./Sections/texto';
@import'custom';
body {
    font-family: 'Open Sans', sans-serif;
}


/* Damos propiedades a etiquetas de contenedoras */

span {
    margin: size(1);
}


/* Efecto Hover sobre los distintos links simulados y reales " Ver Todos" */

.ver_todas_categorias a:hover,
.ver_todos a:hover,
.ver_todas_marcas a:hover,
.ver_contacto a:hover {
    background-color: rgb(221, 158, 211);
    cursor: pointer;
}

input {
    font-size: 2rem;
    transition: all 1s;
    &:focus {
        background-color: rgb(221, 158, 211);
        font-weight: bolder;
    }
}


/* Transformación a las imagenes de categoria */

.imagenes__categorias img,
.imagenes_habilidades_flexibles img,
.imagenes_marcas_flexibles img,
.imagenes_productos_flexibles img {
    transition: transform 1s ease;
    padding-top: size(2);
    padding-bottom: size(2);
}

.imagenes__categorias :hover img,
.imagenes_productos_flexibles :hover img,
.imagenes_marcas_flexibles :hover img,
.imagenes_habilidades_flexibles :hover img {
    transform: scale(1.1);
}


/* Reutilación de propiedades para distintos listados de clases */

.listado__categoria,
.listado_productos,
.listado_marcas,
.listado_habilidades {
    background-color: #BFA2DB;
}


/* Reutilizado de propiedades para distintas páginas y clases */

.presentacion_productos,
.presentacion_categorias {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(99, 92, 100);
}


/* Formato Main de las distintas páginas */

.sobre__elegirnos {
    width: 100%;
    text-align: center;
    padding-top: size(3);
    padding-bottom: size(3);
    h3 {
        color: $white;
        text-align: center;
        font-size: size(4);
        background-color: $bg-color;
    }
    span {
        font-size: size(2.5);
    }
}

.nuestros_diferenciales_row,
.testimonios_row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.nuestro_diferencial_col {
    flex-basis: 25%;
    background: #7F7C82;
    margin-bottom: 5%;
    padding: 2rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.nuestro_diferencial_col h4 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem;
    text-align: center;
    color: white;
}

.nuestro_diferencial_col:hover,
h4 p {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.7);
}

.nuestro_diferencial_col p {
    background: #7F7C82;
    font-size: 2rem;
    text-align: center;
    color: $white;
}

.testimonios {
    width: 100%;
    margin: auto;
    padding-top: 10rem;
    text-align: center;
    background-color: #F0D9FF;
    p {
        color: $white;
        font-size: size(3);
    }
}

.testimonios_col {
    flex-basis: 30%;
    border-radius: 1rem;
    margin: 2rem 2rem;
    padding: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testimonios_col img {
    height: 15rem;
    margin-left: 1.5rem;
    margin-right: 3rem;
    border-radius: 50%;
}

.testimonios_col p {
    padding: 0px;
    text-align: center;
    font-size: size(2);
}

.testimonios_col h3 {
    margin-top: 1.6rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
}

div .testimonios_col {
    background: #7F7C82;
}

.testimonios_col .fas {
    font-size: 2rem;
    text-align: center;
}

.encabezado_contacto {
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/imagen_contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: size(4);
    text-align: center;
    padding: size(2);
}

.imagenes__categorias,
.imagenes_productos_flexibles,
.imagenes_marcas_flexibles,
.imagenes_habilidades_flexibles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}

.menu .listado__categoria,
.todos_los_productos,
.todas_las_categorias,
.menu_marcas,
.menu_servicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    text-align: center;
}

h2 h3 a,
.ver_todos,
.ver_todas_categorias,
.contacto_nosotros,
.ver_todas_marcas,
.ver_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.ver_todos,
.ver_todas_categorias,
.ver_todas_marcas,
.ver_contacto {
    background-color: $bg-color;
}

h2,
h3,
.ver_contacto,
.ver_todos,
.ver_todas_marcas,
.ver_todas_categorias {
    display: block;
    font-size: size(4);
    color: white;
    text-align: center;
    width: 100%;
}

.historia {
    background-color: $gray-300;
    p {
        color: $white;
        font-size: size(2.5);
    }
    &--titulo {
        color: $white;
        font-size: size(3.5);
        text-align: center;
        font-weight: bolder;
        box-shadow: $box-shadow1;
    }
}

.presentacion__marcas {
    @extend.historia;
}

.presentacion__marcas--titulo {
    color: $white;
    font-size: size(3.5);
    text-align: center;
    font-weight: bolder;
}

.presentacion_categorias {
    @extend.historia;
    h2 {
        @include h2-1()
    }
}

.presentacion_productos {
    @extend.presentacion_categorias;
}

.presentacion_productos {
    @extend.presentacion_categorias;
}

//*Depositos//*
.depositos {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: size(5);
    background-color: $bg-color;
}

.deposito__fila {
    display: flex;
    justify-content: center;
    margin: size(2);
    gap: size(1);
}

.deposito__col {
    display: flex;
    flex-basis: 32%;
    border-radius: size(1);
    margin-bottom: size(3);
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.deposito__col img {
    width: 100%;
}

.deposito__capa {
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    &:hover {
        background-color: rgba(226, 0, 0, 0.7);
    }
    & h3 {
        width: 100%;
        font-weight: bolder;
        color: $bg-color;
        font-size: size(4);
        bottom: 0;
        transform: translateY(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;
    }
}

.deposito__capa:hover h3 {
    bottom: 49%;
    opacity: 1;
}

//*Inicio Mejores productos//*
.mejores__productos {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: size(10);
    background-color: $purple;
    margin: size(1);
    h3 {
        color: $gray-700;
        font-size: size(3.6);
        font-weight: 700;
        line-height: size(2.2);
        padding: size(1);
        margin-top: 5%;
        line-height: size(1.6);
    }
}

.productos__fila {
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    gap: size(2);
}

.productos__col {
    flex-basis: 31%;
    border-radius: size(1);
    margin-bottom: 5%;
    padding: size(2) size(1.2);
    box-sizing: border-box;
    transition: 0.5s;
    h3 {
        text-align: center;
        font-weight: 700;
        margin: size(1) 0;
    }
    &:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
}

//*Fin Mejores productos//*

/* Definimos tamaño de imagen de Whatsapp del Aside y redes en CSS del footer */

aside img {
    height: 10rem;
    width: 10rem;
    margin: 1rem;
}


/* Formato del botón de arrepentimiento */

button {
    display: block;
    color: rgb(241, 98, 98);
    font-size: size(2);
    font-weight: 900;
    font-style: italic;
    border: 1rem solid hsl(20, 1%, 55%);
    border-radius: 30%;
    margin: 2rem;
}